h1 {
    color: white;
    margin: 1rem;
}

label {
    color: white;
    padding: 0.2rem;
}

input {
    padding: 0.2rem;
}

main button {
    padding: 0.2rem;
    margin: 0 0.2rem;
}

/* ID Selectors */

#quiz-list {
    max-width: 60vh;
    margin: 1rem auto;
    background-color: #ccc;
    border: 1px solid #bbb;
    padding: 1rem;
    list-style: none;
}

#quiz-list li {
    margin: 0.5rem;
}