h1 {
    color: white;
    font-weight: normal;
    font-size: 3rem;
}

h2 {
    color: white;
    font-weight: normal;
    font-size: 2rem;
}

/* Class Selector */

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.buttons li {
    list-style: none;
}

.buttons a {
    display: block;
    background-color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    border-radius: 1rem;
    border: 1px solid var(--highlight-color);
}

.buttons a:hover {
    background-color: var(--highlight-color);
}