:root {
    --primary-color: #36548b;
    --main-font: Arial, Helvetica, sans-serif;
    --header-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: var(--header-font);
}

main {
    font-family: var(--main-font);
    max-width: 800px;
    margin: 1rem auto;
}

section {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

section p {
    font-size: larger;
}

h1 {
    text-align: center;
    font-family: var(--header-font);
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    grid-column: 1 / 4;
}

h2 {
    padding-bottom: 0.5rem;
}

ul {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

li {
    font-size: larger;
}

img {
    width: 100%;
    height: auto;
}

img:last-child {
    margin-top: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-family: var(--header-font);
}