:root {
    --primary-color: #333333;
    --background-color: gray;
    --header-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    grid-column: 1 / 4;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: var(--header-font);
    list-style: none;
    justify-content: center;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
}

main {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    background-color: var(--background-color);
}

aside {
    grid-column: 3 / 4;
    background-color: white;
}

p {
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content {
    grid-column: 1 / 3;
    padding-bottom: 100px;
}