:root {
    --primary-color: #6247af;
    --main-font: Arial, Helvetica, sans-serif;
    --header-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: var(--header-font);
}

main {
    display: grid;
    grid-template-columns: 50% 35%;
    justify-content: space-evenly;
    font-family: var(--main-font);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    background-color: #444;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
}

nav a:hover {
    background-color: #494949;
}

h1 {
    text-align: center;
    font-family: var(--header-font);
    padding: 1rem;
    grid-column: 1 / 4;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-family: var(--header-font);
}

/* Class Selectors */

.card {
    display: grid;
    border: 1px solid rgb(0 0 0 / 0.5);
    margin-bottom: 1rem;
}

.card h2 {
    grid-column: 1 / 3;
    height: 40px;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--header-font);
    font-weight: normal;
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: white;
}

.card h3 {
    text-align: center;
    margin: 0 2rem;
    border-bottom: 1px solid gray;
}

.card p {
    padding: 0.5rem;
    line-height: 1.3;
}

.card img {
    margin: 0.5rem;
    border: 1px solid rgb(0 0 0 / 0.5);
    box-shadow: 0 0 10px gray;
}

.card ul {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    padding: 2rem;
}

/* ID Selectors */

#course-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

#country-holder {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    grid-column: 1 / 2;
    margin: 1rem;
}

#country-holder img {
    width: 200px;
    height: auto;
}

#country-holder figcaption {
    opacity: 0.7;
    text-align: center;
}

#lastModified {
    color: yellow;
}