@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        margin: 2rem 1rem;
    }

    picture:last-child {
        margin-left: auto;
    }

    img:last-child {
        width: 1.75rem;
        height: auto;
    }

    /* Class Selector */

    .section-header {
        display: flex;
        padding: 1rem;
        text-align: left;
        background-color: var(--primary-color);
        color: white;
        font-size: 1rem;
    }
}